<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ title }}</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/my_styles.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     {% if session['logged_in'] %}
    <div class="btn-group btn-group-justified btn-group-lg" role="group" aria-label="nav">
      <div class="btn-group btn-group-lg" role="group">
        <a href="/" type="button" class="btn btn-default">Menu</a>
      </div>
      <div class="btn-group btn-group-lg" role="group">
        <a href="/all_orders" type="button" class="btn btn-default">Orders</a>
      </div>
      <div class="btn-group btn-group-lg" role="group">
        <a href="/navigation" type="button" class="btn btn-default">Navigation</a>
      </div>
    </div>
    {% endif %}
    <div class="container">
      <div class="page-header">
          {% block header %}
          {% endblock %}
      </div>
      {% block content %}
      {% endblock %}
    </div>
    <!-- Help Modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="help_title"></h4>
          </div>
          <div class="modal-body" id="help_text">
          </div>
          <div id="help_container" class="modal-footer">
              <button id="help_button" type="button" class="btn btn-primary" data-dismiss="modal"></button>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/my_scripts.js') }}"></script>
     {% block scripts %}
         <script>
         // Standard for Monitored Navigation Helper
             $(document).ready(function(){
                 // Open WebSocket
                 namespace = '/io';
                 socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

                 // Monitored Navigation Helper: Call display function. When button clicked, inform serverside
                 socket.on('helper', function(msg){display_helper(msg)});
                 $('#help_button').click(function(event){socket.emit('helped')})
             });
         </script>
     {% endblock %}
  </body>
</html>
