{% extends "base.html" %}

{% block header %}
<h1>Delivery for {{ order['location']}} </h1>
<p class="lead">Can I get you anything else?.</p>
{% endblock %}

{% block content %}
<div class="row">
<span id="orderId" hidden>{{ order['timestamp'] }}</span>
<div class="btn btn-default submit col-md-12 col-sm-12 complete">Order Again</div>
<div id="decline" class="btn btn-default submit col-md-12 col-sm-12 complete" data-toggle="modal" data-target="#declineModal">No Thanks</div>
</div>

<!-- Modal -->
<div class="modal fade" id="declineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">No Thanks</h4>
      </div>
      <div class="modal-body">
        "Ok, I'll head back to the Kitchen. Call me if you need anything."
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
