<h1>Delivery for {{ order['location'] }} </h1>
<p class="lead">Can I get you anything else?.</p>

<div class="row">
    {% for name, quantity in order['items'].items() %}
    <div class="col-md-4 col-sm-4">
        <h3>{{ name }}</h3>
        <h2 class="order_value">{{ quantity }}</h2>
    </div>
    {% endfor %}
</div>
<hr class="featurette-divider">
  <div class="row">
  <input id="orderId" name="orderId" value="{{ order['timestamp'] }}" type="text"  hidden/>
  <div class="btn btn-default submit col-md-12 col-sm-12 complete home">Order Again</div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
      <div id="decline" class="btn btn-default submit col-md-12 col-sm-12 complete">No Thanks</div>
  </div>

 <!-- Modal -->
 <div class="modal fade" id="declineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">No Thanks</h4>
       </div>
       <div class="modal-body">
         "Ok, I'll be off, call me if you need anything."
       </div>
       <div class="modal-footer">
         <button id="dismiss" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>

{% if destination %}
<script>
navsocket.emit('go_to', '{{ destination }}');
</script>
{% endif %}

{% if timeout %}
<script>
    var seconds = {{ timeout }};
    var timeout;
    function set_timeout() {
        timeout = window.setTimeout(function () {
             navsocket.emit('go_to_hub');
        }, 1000 * seconds);
    }
    $(document).click(function(){
        clearTimeout(timeout);
        seconds = seconds * 2;
        set_timeout();
    });
    navsocket.on('success', function(){
        clearTimeout(timeout);
        set_timeout();
    });
</script>
{% endif %}