{% extends "base.html" %}

{% block header %}
<h1>Navigation</h1>
<p class="lead">Give LUCIE a target destination</p>
{% endblock %}

{% block content %}
<div class="row featurette">
    <div class="col-lg-4 list-group">
    {% for waypoint in waypoints -%}
            <div class="btn btn-default btn-group-justified submit list-group-item" onclick="nav_to('WayPoint {{ waypoint }}')">WayPoint {{ waypoint }}</div>
        {% if loop.index is divisibleby(loop.length//3 + 1) and not loop.last %}
        </div>
        <div class="col-lg-4 list-group">
            {% endif %}
        {% endfor %}
        </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
    namespace = '/io';
    socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
});
function nav_to(waypoint){
    socket.emit('go_to', {destination: waypoint});
    $(location).attr('href',"/");
};
</script>
{% endblock %}
