<h1>Menu</h1>
<p class="lead">Order from LUCIE and she'll bring your sweets right to you.</p>

<div class="row form-group">
<form id="order_form", action="/order" method="POST">

    {% for item in menu %}
    <div class="col-md-4 col-sm-4 menu">
      <h2>{{ item['name'] }}</h2>
      <div class="btn btn-default order_btn  col-md-4 col-sm-4"  onclick="change(1, '{{ item['name'] }}')">↑</div>
      <input id="f {{ item['name'] }}" name="{{ item['name'] }}" type="number" value="0" min="0" max="10" hidden/>
      <span id="s {{ item['name'] }}" class="order_value col-md-4 col-sm-4">0</span>
      <div class="btn btn-default order_btn  col-md-4 col-sm-4" onclick="change(-1, '{{ item['name'] }}')">↓</div>
      <img src="{{ url_for('static',
                           filename='images/{}'.format(item['image'])
                           ) }}"
           alt="{{ item['name'] }}"
           title="{{ item['name'] }}" />
    </div>
    {% endfor %}
    <div id="order" class="btn btn-default btn-success submit col-md-6 col-sm-6" disabled='true'>Order</div>
    <div id="decline" class="btn btn-default btn-danger submit col-md-6 col-sm-6">No Thanks</div>

 </form>
 </div>
 <hr class="featurette-divider">
 <div class="row">
  {% if twitter %}
  <div id="twitter" class="btn btn-default submit col-md-12 col-sm-12">Take a selfie for Twitter</div>{% endif %}
 </div>
<!-- Modal -->
<div class="modal fade" id="declineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">No Thanks</h4>
      </div>
      <div class="modal-body">
        "Ok, I'll be off, call me if you need anything."
      </div>
      <div class="modal-footer">
        <button id="dismiss" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    // Ensure displayed numbers in menu form are the same as input values.
    {% for item in menu -%}
      $("#s {{item['name'] }}").html($("#f {{item['name'] }}").val());
     {% endfor %}
});
</script>

{% if destination %}
<script>
navsocket.emit('go_to', '{{ destination }}');
</script>
{% endif %}

{% if timeout %}
<script>
    var seconds = {{ timeout }};
    var timeout;
    function set_timeout() {
        timeout = window.setTimeout(function () {
            contentsocket.emit('home_nav', 'choose')
        }, 1000 * seconds);
    }
    $(document).click(function(){
        clearTimeout(timeout);
    });
    navsocket.on('success', function(){
        clearTimeout(timeout);
        set_timeout();
    });
    {% if session['logged_in'] %}
    contentsocket.on('cancel_timeout_on_admin', function(){
      clearTimeout(timeout);
    });
    {% endif %}
</script>
{% endif %}
