{% extends "base.html" %}

{% block header %}
<h1>Hi, I'm LUCIE</h1>
<p class="lead">I'm going to {{ destination }}</p>
{% endblock %}

{% block content %}
<!-- display helper page running on localhost -->
<object data="{{ helper_url }}" class="col-md-12 col-sm-12" height="500px">
    <embed src="{{ helper_url }}" class="col-md-12 col-sm-12" height="500px">
    </embed> Error: Embedded data could not be displayed. </object>
{% endblock %}

{% block scripts %}
<script>
// On page load, start navigating to given destination
$(document).ready(function(){
    console.log("Navigating to {{ destination }}")
    payload = { destination: "{{ destination }}" }
    $.ajax({type: 'POST',
             url: "/go_to",
             data: payload,
             success: function(result){
                 console.log("Navigated to {{ destination }}");
                 // Navigation is successful, show the next page
                 $(location).attr('href',"{{ next_page }}");
             }
     });
 });
</script>
{% endblock %}
